*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083B4C;
}

.col-1special{
    width: calc(100% / 8);
}

.col-8{
    width: calc((100% / 12) * 8);
}

ul{
    list-style: none;
}

/* BODY RULES  */

h1{
    text-align: center;
    font-size: 68px;
    padding: 40px 0;
    color: white;
}

ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.general-box{
    text-align: center;
    align-items: center;
    background-color: #1389B2;
}

.fizz{
    background-color: #0BD6A1;
}

.buzz{
    background-color: #FFD166;
}

.fizzbuzz{
    background-color: #8C2941;
}